body{
    margin:0px;
    }
    #header{
    height: 70px;
    background:rgb(56, 42, 42);
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.buttonHeader{
    display: flex;
    align-items: center;
    justify-content: right;


}
.nameArticle{
	display: flex;
	justify-content: center;
}

.b-flex{
	display: flex;
	flex-direction: row;
}

.Mid{
    height:80vh;
    max-height: auto;
    max-width: auto;
    background: url(https://cdn.shopify.com/s/files/1/0275/2597/2079/files/les-survivalistes-ban_1944x.jpg?v=1630615912)center/cover; ;
    text-align: center;
    font-size: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; top:30% ;


}
.truc{
	display: flex;
	justify-content: center;
}
.titre{
    color: white;
}
.MidBot{
    height: 80px;
    background : rgb(56, 42, 42);
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.rien{
    display: flex;
    justify-content: center;
}
/* .indexMid{
	display:flex;
	flex-direction: row;
} */
.affichage_articles{
	display:flex;
	flex-wrap: wrap;
	


}
.affichage_articles>* {
	flex: 2 2 160px;
	flex: auto ;
}


/* .barreSearch{
    height: 50px;
    display: flex;
    flex-wrap: wrap;

    align-items: center;

} */




.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.205);
    transition: 0.3s;
    width: 85vh;
	height: 60vh;
    text-align: left;
    margin-top: 100px;
	
   
    
}
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
}
  
  .container {
    padding: 3px 50px;
}


.flex-container {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
    
}

.flex-container > div {
    
    margin: 30px;
    margin-top :100px;
    padding: 20px;
    
}
.imagee{
    float:left;
	width: 250px;
	height: 250px;
}


/*  */

.itemTitle{
	display: flex;
    justify-content: center;


}
.itemMid{
	margin-left :50vh;
	margin-right :50vh;

}
.itemPic{
	margin-right: 10vh;
}
.itemDescription{
	margin-top:15vh;
}
.buttonPanier{
	margin-top:30px;
	display: flex;
	justify-content: center;
}

img{

   
}

.card2 {
	background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.205);
    transition: 0.3s;
    width: 150vh;
	height: 80vh;
    text-align: left;
    /* margin-top: 100px; */
   
    
}
  
  .card2:hover {
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0);


}
  
/* .container {
    padding: 3px 50px;
} */


.flex-container2 {
    display: flex;


    
}
  
.flex-container2 > div {
    
    margin: 30px;
    margin-top :10px;
    padding: 20px;
    
}
.imagee2{
    float:left;
	margin-top: 10vh;
	margin-right: 50px;
	width: 250px;
	height: 250px;
}


.btn {
	border: none;
	font-family: 'Lato';
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	/* text-transform: uppercase; */
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  }
  
  .btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  }
  
  /* Pseudo elements for icons */
  .btn:before {
	font-family: 'FontAwesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
  }
  
  
  /* Icon separator */
  .btn-sep {
	padding: 25px 60px 25px 120px;
  }
  
  .btn-sep:before {
	background: rgba(0,0,0,0.15);
  }



.btn-2 {
	background: #2ecc71;
	color: #fff;
  }
  
  .btn-2:hover {
	background: #27ae60;
  }
  
  .btn-2:active {
	background: #27ae60;
	top: 2px;
  }
  
  .btn-2:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
  }

.icon-cart:before {
	content: "\f07a";
}
.icon-man:before {
	content: "\f007";
}
.icon-search:before{
	content:"\f002"
}
.icon-home:before{
	content:"\f015"
}

/* * {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--bg: #e3e4e8;
	--fg: #17181c;
	--input: #ffffff;
	--primary: #255ff4;
	--dur: 1s;
	font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1280 - 320));
}
body, input {
	color: var(--fg);
	font: 1em/1.5 Hind, sans-serif;
}
form, input, .caret {
	margin: auto;
}
form {
	position: relative;
	width: 100%;
	max-width: 17em;
}
input, .caret {
	display: block;
	transition: all calc(var(--dur) * 0.5) linear;
}
input {
	background: transparent;
	border-radius: 50%;
	box-shadow: 0 0 0 0.25em inset;
	caret-color: var(--primary);
	width: 2em;
	height: 2em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input:focus, input:valid {
	background: var(--input);
	border-radius: 0.25em;
	box-shadow: none;
	padding: 0.75em 1em;
	transition-duration: calc(var(--dur) * 0.25);
	transition-delay: calc(var(--dur) * 0.25);
	width: 100%;
	height: 3em;
}
input:focus {
	animation: showCaret var(--dur) steps(1);
	outline: transparent;
}
input:focus + .caret, input:valid + .caret {
	animation: handleToCaret var(--dur) linear;
	background: transparent;
	width: 1px;
	height: 1.5em;
	transform: translate(0,-1em) rotate(-180deg) translate(7.5em,-0.25em);
}
input::-webkit-search-decoration {
	-webkit-appearance: none;
}
label {
	color: #e3e4e8;
	overflow: hidden;
	position: absolute;
	width: 0;
	height: 0;
}
.caret {
	background: currentColor;
	border-radius: 0 0 0.125em 0.125em;
	margin-bottom: -0.6em;
	width: 0.25em;
	height: 1em;
	transform: translate(0,-1em) rotate(-45deg) translate(0,0.875em);
	transform-origin: 50% 0;
} */

/* Dark mode */
/* @media (prefers-color-scheme: dark) {	
	:root {
		--bg: #17181c;
		--fg: #e3e4e8;
		--input: #2e3138;
		--primary: #5583f6;
	}
} */

/* Animations */
/* @keyframes showCaret {
	from {
		caret-color: transparent;
	}
	to {
		caret-color: var(--primary);
	}
}
@keyframes handleToCaret {
	from {
		background: currentColor;
		width: 0.25em;
		height: 1em;
		transform: translate(0,-1em) rotate(-45deg) translate(0,0.875em);
	}
	25% {
		background: currentColor;
		width: 0.25em;
		height: 1em;
		transform: translate(0,-1em) rotate(-180deg) translate(0,0.875em);
	}
	50%, 62.5% {
		background: var(--primary);
		width: 1px;
		height: 1.5em;
		transform: translate(0,-1em) rotate(-180deg) translate(7.5em,2.5em);
	}
	75%, 99% {
		background: var(--primary);
		width: 1px;
		height: 1.5em;
		transform: translate(0,-1em) rotate(-180deg) translate(7.5em,-0.25em);
	}
	87.5% {
		background: var(--primary);
		width: 1px;
		height: 1.5em;
		transform: translate(0,-1em) rotate(-180deg) translate(7.5em,0.125em);
	}
	to {
		background: transparent;
		width: 1px;
		height: 1.5em;
		transform: translate(0,-1em) rotate(-180deg) translate(7.5em,-0.25em);
	}
} */





form {
  outline: 0;
  float: left;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

form > .textbox {
  outline: 0;
  height: 42px;
  width: 350px;
  line-height: 42px;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  float: left;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

form > .textbox:focus {
  outline: 0;
  background-color: #FFF;
}

form > .buttonn {
  outline: 0;
  background: none;
  background-color: rgba(38, 50, 56, 0.8);
  float: left;
  height: 42px;
  width: 80px;
  text-align: center;
  line-height: 42px;
  border: 0;
  color: #FFF;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

form > .buttonn:hover {
  background-color: rgba(0, 150, 7, 0.8);
}